# Dependencies
node_modules

# Build outputs
dist
.next
out
*.tsbuildinfo
next-env.d.ts

# Turbo
.turbo

# Env files
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store
