# Dependencies & build artifacts
node_modules
.next
.turbo

# Environment files
.env
.env.*
!.env.example

# Dev / editor
.DS_Store
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Helm / k8s configs (not needed inside the container)
helm
