@import 'footer/footer.scss';
@import 'generic-image/generic-image.scss';

.DevMode {
  border: dashed 1px red;
}

.PreventSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
