# Visual Studio Code # 
.vscode
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

Dockerfile
.dockerignore
node_modules
npm-debug.log
README.MD
.git
.gitignore
package-lock.json
deployment
build-and-deploy.js
deploy.js
src
tsconfig.json
media
deployment
config
lib
pages
public
types
.eslintrc.json
tsconfig.json
yt-dlp.exe

