# Docker / Helm
DOCKER_REGISTRY=christopherguzman
NAMESPACE=edge-folio-api

# Django
SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=*
DJANGO_SETTINGS_MODULE=edge_folio_api.settings

# CORS / CSRF
CORS_ALLOWED_ORIGINS=https://edge-folio.iguzman.com.mx
CSRF_TRUSTED_ORIGINS=https://api-edge-folio.iguzman.com.mx,https://edge-folio.iguzman.com.mx
FRONTEND_URL=https://edge-folio.iguzman.com.mx

# Database (leave DB_HOST empty to use SQLite locally)
DB_HOST=
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=

# Media
MEDIA_ROOT=/app/media

REDIS_URL=redis://redis.edge-folio-api.svc.cluster.local:6379/0
REDIS_PASSWORD=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_HOST=smtp.ionos.com
EMAIL_PORT=587
EMAIL_USE_TLS=True

# WebAuthn / Passkeys
WEBAUTHN_RP_ID=localhost
WEBAUTHN_RP_NAME=Edge Folio
WEBAUTHN_RP_ORIGIN=http://localhost:3000
