Django==5.2.11
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
Pillow==11.1.0
whitenoise==6.9.0
gunicorn==23.0.0
psycopg[binary]==3.2.4
django-colorfield==0.11.0
django-cors-headers==4.9.0
django-redis==5.4.0
webauthn==2.7.1
django-storages[s3]==1.14.4
pdfplumber==0.11.4
python-dotenv==1.1.1
groq==1.4.0
instructor>=1.7.0
openai>=1.0.0
requests==2.32.3
celery[redis]==5.4.0
cryptography==44.0.2
